.information-control {
  margin: 0.5rem 0;
}

.information-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.information-control input {
  border-radius: 10px;
  margin-bottom:10px;
  display: block;
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.information-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}
.information-control.invalid input {
  border-color: red;
  background: rgb(245, 227, 227);
}

.information-control.invalid label {
  color: red;
}
